@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Work+Sans&display=swap');

:root {
  --tan: #FAEBD7;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

h1 a {
  font-family: 'Parisienne', cursive;
  font-size: 3rem;
  text-decoration: none;
  color: #595959;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

/*  -header styling-  */

header {
  padding-top: 5px;
  background-color: var(--tan);
}

.nav-links {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
}

.nav-links a {
  text-decoration: none;
}

/*  --about me styling--  */
.about-title {
  font-size: 3rem;
}

.about-title-span {
  font-family: 'Parisienne', cursive;
  color: #595959;
}

.about-description {
  font-size: 1.25rem;
}

.fun-fact-title {
  font-family: 'Parisienne', cursive;
  /* font-size: 2rem; */
  color: #595959;
}

.fun-fact {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
}